<li>
  <div class="list-box-listing">
    <div class="list-box-listing-img">
      <% if restaurant.images.attached? %>
        <%= link_to image_tag(restaurant.images.first), organization_restaurant_path(restaurant.organization, restaurant) %>
      <% end %>
    </div>
    <div class="list-box-listing-content">
      <div class="inner">
        <h3><%= link_to restaurant.name, organization_restaurant_path(restaurant.organization, restaurant) %></h3>
        <span><%= restaurant.address %></span>
      </div>
    </div>
  </div>
  <div class="buttons-to-right">
  </div>
</li>
