  <div id="header">
    <div class="container">

      <!-- Left Side Content -->
      <div class="left-side">

        <!-- Logo -->
        <div id="logo">
          <%= link_to root_path do %>
            <%= image_tag 'logo.png', alt: "" %>
          <% end %>
        </div>

        <%= render 'shared/header_common' %>

    </div>
  </div>
