<li>
  <%= link_to organization_path(organization) do %>
    <div class="message-by margin-left-0">
      <div class="message-by-headline">
        <h5><%= organization.name %></h5>
      </div>
    </div>
  <% end %>
</li>
