<!-- Titlebar -->
<div id="titlebar">
  <div class="row">
    <div class="col-md-12">
      <h2>登録したショップ</h2>
      <!-- Breadcrumbs -->
      <nav id="breadcrumbs">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Dashboard</a></li>
          <li>登録したショップ</li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<div class="row">

  <!-- Listings -->
  <div class="col-lg-12 col-md-12">
    <div class="dashboard-list-box margin-top-0">
      <% if @shops.size == 0 %>
        <h4>登録したショップはありません</h4>
      <% else %>
        <ul>
          <%= render @shops %>
        </ul>
      <% end %>
    </div>
  </div>
